body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    border-radius: 50%;
    width: 150px;
}

.container {
    background-color: #fff;
    width: 800px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.container h1 {
    font-size: 1.5em;
    color: #333;
}

.container p, .container ul {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.container hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.container section h2 {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.container section h3 {
    font-size: 1.1em;
    color: #444;
    margin-top: 10px;
}

.container section .introduction {
    font-style: italic;
    color: #444;
}
